<template>
  <q-page class="flex flex-center">
    <div class="text-h4"> 
Image
    </div>
    <croppa v-model="myCroppa" canvas-color="transparent"></croppa>
    <q-btn label="Generate" @click="generateImage"></q-btn>
    <br>
    <img class="output" :src="imgUrl">
  </q-page>
</template>

<script>
export default{
  name: 'image',
  data(){
    return {
      myCroppa: null,
      imgUrl: ''
    }
  },

  methods: {
    generateImage(){
      let url = ''
      url = this.myCroppa.generateDataUrl()
      if (!url) {
        alert('no image')
        return
      }
      this.imgUrl = url
    }
  }
}

</script>

<style lang="scss">
.croppa-container {
  background-color: white;
  border: 3px solid black
}
</style>